body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-dialog {
  position: fixed;
  top: 10%;
  right: 23%;
  width: 55vw;
  background: #fcd116;
  border: 0.2rem solid #fffefe;
  box-shadow: 20px 4px 8px rgba(255, 255, 255, 0.1);

  z-index: 1001; /* Adjust to ensure it's above other content */
}

.custom-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.3rem;
  background: #fcd116;
  border-bottom: 0.2rem solid #fafafa;
}

.custom-dialog-body {
  padding: 0.2rem;
 background-color: #fcd116;
}
.custom-dialog.minimized {
  width: 150px;
  height: 40px;
  overflow: hidden;
}

.custom-dialog.minimized .custom-dialog-body {
  display: none;
}

.select-tie-point{
  background-color: #000000;
  padding: 1rem;
  color: white;
  border: 0.3rem solid white;
}
.tie-point-bg{
  background-color: #fcd116;
  color: #000000;
  border: 0.3rem solid rgb(255, 255, 255);
}

