body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Select-menu {
  position: fixed !important;
}

.custom-dialog {
  position: absolute;
  top: 100%;
  left: 5%;
  width: 40vw;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 10px 12px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1001;
  cursor: pointer;
}

.custom-dialog-header {
  display: flex;
  justify-content: center; /* Center the title */
  align-items: center;
  position: relative; /* Relative positioning for the close button */
  padding: 0.3rem;
  background: #1e325b;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #ffffff;
}

.custom-dialog-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.custom-dialog-close {
  position: absolute;
  right: 10px;  
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #ffca2c;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}
.custom-btn {
  font-size: 2rem;
  color: #ffca2c;
  transition: color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
  color: #b3b2b2;
  transform: scale(1.05);
}


.custom-dialog-body {
  padding: 1rem;
  border-radius: 1rem;

}
.custom-dialog.minimized {
  width: 150px;
  height: 40px;
  overflow: hidden;
}

.custom-dialog.minimized .custom-dialog-body {
  display: none;
  pointer-events: none;
}
.tie-point-bg{
  color: #000000;
  border: 0.3rem solid rgb(255, 255, 255);
}

