body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/application/components/DraggableForm.css */

.draggable-form {
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position:fixed;
  z-index: 1000; 
}

.header {
  background-color: #f0f0f0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-content {
  padding: 16px;
}

.minimized-form {
  background-color: yellow;
  padding: 10px;
  cursor: pointer;
  z-index: 1001; 
  position: fixed;
  bottom: 10px;
  left: 10px;
}
